.transaction-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .transaction-table th, .transaction-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .transaction-table th {
    background-color: #f2f2f2;
  }

  
  
  .operation-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f5f5f5;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .radio-group {
    display: flex;
    gap: 10px;
  }
  
  .radio-label {
    display: flex;
    align-items: center;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  
  
  